* text=auto eol=lf

*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary

# Keep GitHub language stats honest.
website/* linguist-documentation
docs/* linguist-documentation
